.bottlesHead {
  background-color: #000000;
  margin: 20px auto;
  text-align: center;
  padding: 30px 0px;
  width: 35rem;
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  box-shadow: 7px 5px 7px 0px #434c4c85;
}
.containerRapper{
    width: 1280px;
    margin: auto;
}
.bottleContainer{  
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
